Repository kurisu994/mpaas2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --color --cache --fix

🐹 feat(*): 新增测试api
  .gitignore
Due: none

🐹 feat(*): 新增测试api
  src/pages/index/index.tsx
Due: none

🐹 feat(*): 新增测试api
  mini.project.json
Due: prettier --cache --write

🐹 feat(*): 新增测试api2
  mini.project.json
  src/pages/index/index.tsx
Due: prettier --cache --write

🐹 feat(*): 引入nui组件
  .eslintignore
  .eslintrc.js
  babel.config.js
  config/dev.js
  config/dev.ts
  config/index.js
  config/index.ts
  config/prod.ts
  mini.project.json
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/assets/styles/custom_theme.scss
  src/pages/index/index.module.scss
  src/pages/index/index.scss
  src/pages/index/index.tsx
  tsconfig.json
Due: prettier --cache --write, eslint --color --cache --fix

🐹 feat(*): 升级taro版本
  config/index.ts
  mini.project.json
  package.json
  pnpm-lock.yaml
  src/app.config.ts
  src/pages/demo/index.config.ts
  src/pages/demo/index.module.scss
  src/pages/demo/index.tsx
  src/pages/index/index.tsx
Due: prettier --cache --write

🐹 feat(*): 升级taro版本
  src/pages/index/index.tsx
Due: none

🐹 feat(*): 升级taro版本
  mini.project.json
Due: prettier --cache --write

🐹 feat(*): bug 修复
  config/index.ts
  mini.project.json
  src/app.tsx
  src/hooks/useStorage.ts
  src/pages/demo/index.tsx
  src/pages/index/index.module.scss
  src/pages/index/index.tsx
  tsconfig.json
Due: prettier --cache --write

🐹 feat(*): 集成状态管理工具 zustand
  config/index.ts
  package.json
  pnpm-lock.yaml
  src/pages/demo/index.tsx
  src/pages/index/index.tsx
  src/stores/bearStore.ts
  src/stores/demoStore.ts
  src/stores/index.ts
Due: prettier --cache --write

🐹 feat(*): 新增环境变量
  .env
  .env.prod
  .gitignore
  config/dev.ts
  config/index.ts
  config/prod.ts
  package.json
  src/pages/index/index.tsx
  types/global.d.ts
Due: prettier --cache --write

🐹 feat(*): 封装公共请求方法
  .env
  .env.prod
  .eslintrc.js
  config/index.ts
  package.json
  pnpm-lock.yaml
  src/pages/index/api.ts
  src/pages/index/index.tsx
  src/utils/helper.ts
  src/utils/http/errorMsg.ts
  src/utils/http/host.ts
  src/utils/http/index.ts
  src/utils/http/interface.d.ts
  src/utils/http/pagination.ts
  src/utils/index.ts
  src/utils/tool/regRule.ts
  types/global.d.ts
Due: prettier --cache --write, eslint --color --cache --fix

🐹 feat(*): 封装接口请求api
  .env
  .env.prod
  src/utils/http/encrypt/index.ts
  src/utils/http/encrypt/jsencrypt.min.js
  src/utils/http/encrypt/md5.js
  src/utils/http/index.ts
  src/utils/http/interface.d.ts
  types/global.d.ts
Due: prettier --cache --write, eslint --color --cache --fix

🐹 feat(*): update deps
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

🐹 feat(*): update deps
  src/utils/http/index.ts
Due: none

🐹 feat(*): update components
  src/components/WhiteSpace/index.tsx
  src/components/index.ts
  src/pages/index/index.tsx
  src/utils/http/encrypt/index.ts
Due: none

🐹 feat(*): 提取公共组件
  config/index.ts
  package.json
  pnpm-lock.yaml
  src/components/WhiteSpace2/index.tsx
  src/components/index.ts
  src/hooks/useStorage.ts
  src/pages/index/api.ts
  src/pages/index/index.tsx
  src/utils/helper.ts
  src/utils/http/encrypt/index.ts
  src/utils/http/encrypt/jsencrypt.min.js
  src/utils/http/encrypt/md5.js
  src/utils/http/errorMsg.ts
  src/utils/http/host.ts
  src/utils/http/index.ts
  src/utils/http/interface.d.ts
  src/utils/http/pagination.ts
  src/utils/index.ts
  src/utils/tool/regRule.ts
Due: prettier --cache --write, eslint --color --cache --fix

🐹 feat(*): 调整文档相关内容
  src/assets/styles/custom_theme.scss
Due: none

Create README.md
  README.md
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: (any of: *.{md,json}) or (any of: *.{js,jsx})
  eslint --color --cache --fix: any of: *.{js,jsx}
